body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    position: relative;
    
 }
 .top{
     position: fixed;
     background-color: #344e41;
     text-align: center;
     top:0;
     left:0;
     width: 100%;
 }
 .about{
     position: fixed;
     top: 20%;
     left:80%;
     width: 15%;
     height: 500px;
     background-color: #a3b18a;
     
 }