@media only screen and (max-width: 1500px) {
    .about-responsive{
        display: block;
       position: static;
       position: relative;
       top:20px; left:10%;width:80%;
    }

}
@media(max-width:1042px){
    .about{position: static; top:20px; left:10%;width:80%;}
}