*{
    margin:0;
    padding:0;
}
body{
    background-color: #dad7cd;
}
.about img{
    width: 100%;
    height: 50%;
}
.middle{
    margin: 15%;
    width: 60%
}
.text{
    margin-left: 1px;
    background-color: #a3b18a;
}
.art{
    margin-bottom: 50px;
    background-color: #a3b18a;
}

.bottom{
    top: 100%;
}
.profiles{
    background-color: #a3b18a;
    height: 200px;
    width: 100px;
    position:fixed;
    top: 25%;
    left:0;
}
@media(max-width:1042px){
    .profiles{position: static;}
}
.tags p{margin-right: 20px;}
.art img{
    width:100%;
    height: 20%;
}
#flex a{
    background-color: white;
}